name: CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  cicd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'main'
      - run: npm ci
      - run: npm run test

      - name: 'print echo'
        run: echo 안녕

      - run: node -v
